<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
</head>
<body background="/assets/gear.jpg">
  <div class="container generateIdBlock" id="">
    <span class="closeBtn pull-right"><i class="fa fa-times"></i></span>
    <h2 class="text-center">Generated Links</h2>
    <div class="row generatedLinksBlock">
      <ul class="generatedLinksList">
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
        <li class="generatedLink">netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css</li>
      </ul>
    </div>
    <div class="btn btn-primary generateBtn">
      Generate New Link
    </div>
  </div>
<div class="container">

    <div class="page-header text-center clearfix">
        <h1 style="color: white"><span class="fa fa-anchor" style="color:white" ></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm pull-right">Logout</a>
        <a href="/admin" style="text-align: left"  class = "btn btn-default btn-sm pull-right">Messages </a>
        <a class="btn btn-default btn-sm pull-right" id="generateBlockToggle">Generate Address</a>
      </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="text-center">

    </div>

</div>
<script type="text/javascript">
  $("#generateBlockToggle").click(function(){
    $(".generateIdBlock").toggleClass("active");
  });
  $(".closeBtn").click(function(){
    $(".generateIdBlock").toggleClass("active");
  });
</script>
</body>
</html>
